
body{
    background-image: url(https://images.unsplash.com/photo-1591625677777-ae053aef58ff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8bnViZXMlMjBtb3JhZGFzfGVufDB8fDB8fHww&w=1000&q=80);
    background-size: cover;
    background-color: rgb(230, 72, 219);
    margin: right;
    min-height: 100%;
}

.card1 {
  margin: 10px;
  border:50% white;
  width:100%;
  height: 650px;
  padding: 20px;
  border-radius: 10px;
  gap:50px;
}

h1 {
  text-align: center;
  font-family: "Lucida Handwriting";
}

.card2 p{
  text-align: justify;
 width:750px;
 height: 450px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size:x-large;
align-items:right;

}
.cards {
  display : flex;
  flex-direction:row;
  justify-content:space-between;
 margin:20px;
justify-content: space-around;
gap:140px;
flex-grow: 1;
flex-shrink: 1;


}
.card2{
  width: 900px;
  height: 700px;
  padding: 20px;
  background-color: rgba(246, 244, 245, 0.423);
  border-radius: 10px; 
}  

/* -----------------------------------------------------------------------------------CODIGO DE ANA CRIS*------------------------------------------------------------------------------/


.container4/*AGRUPACION DE LAS TARJETAS*/ 
.container4{
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  margin: 150px;
  
}

.card4{
 width:80%;
 height: 400px;
 padding: 40px;
 border-radius: 10px;
 align-items: center;
 margin: 150px;
 flex: 1;
}

.info4{
  padding-top: 20px;
  padding-left: 15%;
  padding-right: 15%;
  word-spacing: 0px;
  letter-spacing: 0px;
}
.info4 h1{
  text-align: center;
  font-family: "Lucida Handwriting"
}

.info4 p{
  text-align: justify;
  font-size: x-large;
}

.imgw4 {
 border-radius: 20px;
 box-shadow: 10px 15px rgb(222, 172, 182);
 height:300px;
 width:100%;
align-items:center;
 
}

/*------------------------------------------------------------------------------------------------------ TERMINA CSS DE ANA CRIS-------------------------------------------------------*/


/*--------------------------------------------------------------------------------------------codigo ana campos-------------------------------------------------------------------------*/
/*CSS-cards*/
.container5 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.card5 {
    width: 50%;
    height: 500px;
    padding: 50px;
    margin: 150px;
    align-items: center;
    background-color: rgb(236, 218, 230);
    flex: 1;
}

.p5 {
    text-align: center;
    margin-top: 60px;
    font-size:xx-large;
    padding-left: 65px;
    padding-right: 65px;
    letter-spacing: -1px;
}

.imgW5 {
    border-radius: 50px;
    box-shadow: 10px 10px rgb(222, 172, 182);
    width: 100%;
    align-items: center;

}

.h5 {
    font-family: "Lucida Handwriting";
    text-align: center;
}

/*-------------------------------------------------------------------brenda---------------------------------------------------------------------------------------------------*/
.fondoazul {
    background-color: rgb(100, 101, 144);
    background-size: cover;
    height: 900px;
  }
  div{
    align-items: center;
  }
  .imgw6{
    border-radius: 20px;
    box-shadow: 10px 10px rgb(100, 101, 144);
    margin-right: 30%;
    margin-top: 10%;
  }
  .texto{
    background-color: #d4ebfb;
    padding: 50px;
    text-align: center; 
    width: 45%;
    margin-top: 20%;
    margin-left: 5%;
    border-radius: 20px 20px 20px 20px;
    font-size: xx-large;
  }
  button{
    background-color: #d6dff2;
    color:#040404;
    font-size: 14px;
    border-radius: none;
    padding: 10px;
    border-radius: 10px;
    margin-left: 20%;
    margin-top: auto;
    text-align: center;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0, .27);
  }
  .container6{
    align-content: center;
    width: 80%;
  }
  .container7{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-top: 7%;
    justify-content:center;}
  
/*-------------------------------------------------------------------ALEJANDRA LEMUS -----------------------------------------------------------------------------------------*/
.container8 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 20px auto;
  background-color: transparent; /* Fashionable color */
  padding: 20px; /* Add some padding for better aesthetics */
}

.container-cards8 {
  box-sizing: border-box;
  width: 23%;
  margin: 10px;
  background-color: transparent;
  text-align: center;

}

.card8 img {
  max-width:100%;
  height: 140px;
  border-radius: 10px; /* Adjust the value to control the roundness */
  width: 150px;

}

.card8-info {
  text-align: center;
}

.card8-info h2 {
  margin: 10px 0;
  font-size: 1.5em;

}

.card8-info p {
  font-size: 1em;
  font-size: x-large;
}

